[submodule "compose-drs"]
	path = compose-drs
	url = git@github.com:heytrav/compose-drs.git
[submodule "drs-project"]
	path = drs-project
	url = git@github.com:heytrav/drs-project.git
[submodule "nodepp"]
	path = nodepp
	url = git@github.com:heytrav/nodepp.git
[submodule "e2e-d4s"]
	path = e2e-d4s
	url = git@github.com:heytrav/e2e-d4s.git
[submodule "healthcheck"]
	path = healthcheck
	url = git@github.com:heytrav/healthcheck.git
[submodule "drs-nginx"]
	path = drs-nginx
	url = git@github.com:heytrav/drs-nginx.git
